
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- AnyCharts -->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <!-- AnyCharts wordcloud -->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
    <!-- Anycharts style -->
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

    <!-- SockietIO -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

</head>
<body v-on:load="ta(event, 'ta')">

    <div id="app" v-cloak>
        <div class = "container">
            <div class = "row py-4">
                <div class = "col-2">
                    <img height= "60px" width= "auto" src = "./assets/assure_logo.jpg">
                </div>
                <div class = "col-10">
                    <span v-if="taTab">Search for a fund (select only 1 fund): </span> 
                    <span v-if="poTab">Search for a fund (select between 2 to 3 funds): </span> 
                    <span v-if="predictionTab">Search for a fund (select between 2 to 3 funds): </span> 
                    <select v-model="stockSelected" data-width="90%" id="stock-selection" class="selectpicker mt-1 stockSearch" data-live-search="true" data-max-options="3" multiple></select>

                </div>
                <!-- <div v-if="poTabSelected" class = "col-10">
                    Search for a fund: <select v-model="stockSelectedPO" data-width="90%" id="stock-selectionpo" class="selectpicker mt-1" data-live-search="true"data-max-options="3" multiple></select>
                </div> -->
            </div>
            <div id="tabs-btn" class = "row">
                <div class = "col-2 border-right">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="ta-tab" class="nav-link active tablinks" aria-current="page" v-on:click = "ta('ta', $event)">Technical Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a id="po-tab" class="nav-link tablinks" v-on:click = "po('po', $event)">Portfolio Optimization</a>
                        </li>
                        <li class="nav-item">
                            <a id="prediction-tab" class="nav-link tablinks" v-on:click = "prediction('prediction', $event)">Prediction</a>
                        </li>
                    </ul>
                </div>
                <div class = "col-9">
                    <div>  
                        <b>Selected fund: <span id="selected-stocks">{{stockList}}</span></b>
                    </div>

                    <!-- div for TA -->
                    <div id="ta" class="tabcontent my-3 align-items-center">
                        <div id="graphs">
                                <div class="dropdown my-2">
                                    <span class="pr-3">Select a Technical Analysis Tool: </span>
                                    <select v-model="selectedTA" class="selectpicker" data-width="fit">
                                        <option value="price">Close Price</option>
                                        <option value="returns">Return Series</option>
                                        <option value="ema">Exponential Moving Averages</option>
                                        <option value="volatility">Volatility</option>
                                        <option value="sharpe">Sharpe Ratio</option>
                                        <option value="macd">Moving Average Convergence Divergence (MACD)</option>
                                        <option value="bollinger">Bollinger Bands</option>
                                    </select>
                                    
                                </div>
                                <div>
                                    <span class="pr-3">Time Range: </span>
                                    <select v-model="timeRange" class="selectpicker" data-width="fit">
                                        <option value=12>1Y</option>
                                        <option value=24>2Y</option>
                                        <option value=60>5Y</option>
                                    </select>
                                    
                                </div>
                            <div class="d-flex justify-content-between"> 
                                <span class="pt-2">
                                    <span class="pr-3">Cick to Generate Charts: </span>
                                    <button id="generate" v-on:click="setTickersDataTA()" class="btn generate-btn">Generate Charts</button>
                                </span>
                                <span class="text-justify" style="width: 400px; display: inline-block" id ="description"></span>
                            </div>
                            <div id="sharpeRatio" class="mt-3"></div>
                        </div>

                        <div width="200px" class="mt-3">
                            <canvas v-if="selectedTA == 'returns'" id="returnsGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'price'" id="priceGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'ema'"id="emaGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'volatility'"id="volatilityGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'sharpe'"id="sharpe" style="width: 300px"></canvas>
                            <!-- <canvas v-else class="d-none"></canvas> -->
                            <canvas v-if="selectedTA == 'macd'"id="macdGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'bollinger'"id="bollingerGraph" style="width: 300px"></canvas>
                        </div>
                    </div> 

                    <!-- div for PO -->
                    <div id="po" class="tabcontent my-3" style="display: none">
                        <div id="graphs">
                            <div class="my-2">
                                <span class="pr-3">Time Range: </span>
                                <select v-model="timeRange" class="selectpicker" data-width="fit"> -->
                                    <option value=12>1Y</option>
                                    <option value=60>5Y</option>
                                </select>
                                
                            </div>
                            <div class="my-2">
                                <span class="pr-2">Select your preferred risk level: </span>
                                <select v-model="risk" class="selectpicker" data-width="fit">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                                
                                <!-- <div class="form-check form-check-inline">
                                    <input type="radio" id="low" v-model="risk" value="Low" >
                                    <label for="low">Low</label><br>    
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="med" v-model="risk" value="Medium" >
                                    <label for="med">Medium</label><br>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="high" v-model="risk" value="High" >
                                    <label for="high">High</label><br>
                                </div> -->
                            </div> 
                            <div class="d-flex justify-content-between"> 
                                <span class="pt-2">
                                    <span class="pr-3">Cick to Generate Charts: </span>
                                    <button id="generate" v-on:click="generateCharts()" class="btn generate-btn">Generate Charts</button>
                                    <button id="generate" v-on:click="updateCharts()" class="btn btn-warning">Update Charts</button>
                                </span>
                            </div>
                            <div v-if="alert" class="alert alert-warning text-center my-3" role="alert">
                                <strong>{{ alertMsg }}</strong>
                            </div>
                        </div>
                        <div id="descriptionPO" style = "margin-top: 50px;">
                            
                        </div>
                        <div width="200px" >
                            <canvas id="myChart" class="p-3" ></canvas>
                            <canvas id="myChart1" class="p-3" ></canvas>
                            <canvas id="correlation" class="p-3" ></canvas>
                        </div>
                    </div>

                    <!-- div for prediction -->
                    <div id="prediction" class="tabcontent" style="display: none">
                        <button class="btn my-3 generate-btn" @click="get_sentiment_wordcloud()">Generate Charts</button>
                        <button class="btn my-3 generate-btn" @click="displayPredictionChart()">Generate Prediction</button>
                        <div class="row">
                            <div class="col-12">
                                <div v-if="alert" class="alert alert-warning text-center" role="alert">
                                    <strong>{{ alertMsg }}</strong>
                                </div>
                            </div>
                            <div v-if="alert==false" class="col-12">
                                <div class="alert alert-secondary text-center" role="alert">
                                    <strong>Sentiment Polarity and WordCloud of Portfolio</strong>
                                </div>
                            </div>
                            <!-- <p class="ml-2"><b>7 days Sentiment Analysis</b></p> -->
                            <div class="col-6 pr-3 d-flex justify-content-center align-items-center pretty_container">
                                <canvas id="sentimentChart"></canvas>
                            </div>
                            <!-- <p class="ml-2"><b>Portfolio Tweets Wordcloud</b></p> -->
                            <div class="col-5 p-0 pretty_container">
                                <div id="wordCloudChart" style="height:400px; width: auto;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div v-if="alert==false" class="col-12 p-0">
                                <div class="alert alert-secondary text-center mr-0" role="alert">
                                    <strong>Returns Prediction</strong>
                                </div>
                            </div>
                            <div class="col-12 pretty_container">
                                <canvas id="predictionChartBackTest"></canvas>
                            </div>
                            <div class="col-12 pretty_container">
                                <canvas id="predictionChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class = "row">
                <div class = "col-2"></div>
                <div class = "col-9"></div>
            </div>
        </div>
        

    </div>

</body>
</html>

<script type="module">
    import { URL, set_ticker_data, get_return_series, get_price, get_ema, get_volatility, get_macd, get_bollinger, URL_po, get_po, set_ticker_data_po, get_sharpe} from "./callAPI/endpoint.js";
    
    // for loading of stocks for dropdown

    d3.csv('./assets/nasdaq_etfs.csv')
    .then(addStock);

    function addStock(funds){
        for (let i = 0; i < funds.length; i++) {
            if(i == 0){ 
                let select = document.getElementById('stock-selection');
                let option = document.createElement('option');
                option.setAttribute('value', funds[i]['Name & Symbol']);
                option.setAttribute('selected', funds[i]['Name & Symbol']);
                option.appendChild(document.createTextNode(funds[i]['Name & Symbol']));
                select.appendChild(option);
            } else{
                let select = document.getElementById('stock-selection');
                let option = document.createElement('option');
                option.setAttribute('value', funds[i]['Name & Symbol']);
                option.appendChild(document.createTextNode(funds[i]['Name & Symbol']));
                select.appendChild(option);
            }
        }
    }

    // const socket = io.connect('http://127.0.0.1:5100');
    // for updating selected stocks 
    
    var app = new Vue({
            el: '#app',
            data: {
                // stockSelected: ["XLE - ETF", "VGT - TV", "XLV - AMZZ"],
                stockSelected: ["PSL - Invesco DWA Consumer Staples Momentum ETF"],
                // stockSelected: ["VGT - Vanguard Information Tech ETF", "XLE - SPDR Select Sector Fund - Energy Select Sector", "XLV - SPDR Select Sector Fund - Health Care"],
                selectedTA: "price",
                timeRange: 12,
                risk: "Low",
                pieChart: {},
                scatterChart: {},
                corrChart: {},
                generated: false,
                taTab: true,
                poTab: false,
                predictionTab: false,
                //for all charts
                funds: [],
                //pie chart
                combi: [1/3, 1/3, 1/3],
                //scatter chart
                ef_list: [],
                best_ef_list: [],
                risk_level_point:  [],
                volatility: 0,
                returns: 0,
                rar: 0,
                rar_evaluation: "",
                // correlation Chart
                return_series: [],
                // for prediction:
                sentiment_chart: {},
                word_cloud_chart: {},
                prediction_chart: {},
                polarity_dates: [],
                polarity: [],
                word_cloud_data: [],
                prediction_result: {},
                alert: false,
                alertMsg: "",
                socket: {}

            },
            computed: {
                stockList: function(){
                    return this.stockSelected.join(", ")
                }
            },
            methods:{
            
                getTime: function(e){
                    let buttonValue = e.target.value;
                    this.timeRange = buttonValue;
                },

                setTickersDataTA: function(){

                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    const data = {
                        "data": this.stockSelected, 
                        "time_period": Number(this.timeRange)
                    };

                    set_ticker_data(URL, data).then(result =>{
                        if(this.selectedTA == "returns"){
                            this.generateReturnsGraph();
                        } else if(this.selectedTA == 'price'){
                            this.generatePriceGraph();
                        } else if(this.selectedTA == 'sharpe'){
                            this.generateSharpe();
                        } 
                        else if(this.selectedTA == "ema"){
                            this.generateEMAGraph();
                        } else if(this.selectedTA == "volatility"){
                            this.generateVolatilityGraph();
                        } else if(this.selectedTA == "macd"){
                            this.generateMACDGraph();
                        } else if(this.selectedTA == "bollinger"){
                            this.generateBollingerGraph();
                        }
                    })

                },

                generateReturnsGraph: function(){

                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    get_return_series(URL).then(result =>{
                        const data = result;

                        // console.log(data)

                        var returns_graph = document.getElementById("returnsGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 

                        window.bar = new Chart("returnsGraph", {
                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Returns'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    })                  
                },

                generatePriceGraph: function(){

                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    get_price(URL).then(result =>{
                        const data = result;

                        // console.log(data)

                        var returns_graph = document.getElementById("priceGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 

                        window.bar = new Chart("priceGraph", {
                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Close Price'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    })                  
                },
                generateEMAGraph: function(){

                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    get_ema(URL).then(result =>{
                        const data = result;

                    var ema_graph = document.getElementById("emaGraph").getContext("2d");
                    if(window.bar != undefined){
                        window.bar.destroy(); 
                    } 

                        window.bar = new Chart("emaGraph", {

                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Close Price'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });

                        document.getElementById("description").innerText = "When the shorter term EMA crosses above the longer term EMA, it is a buy signal. When the shorter term EMA crosses below the longer term EMA, it is a sell signal"
                    });

                    
                },
                generateVolatilityGraph: function(){
                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    get_volatility(URL).then(result =>{
                        const data = result;

                    var volatility_graph = document.getElementById("volatilityGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 
                    
                        window.bar = new Chart("volatilityGraph", {
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Volatility'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    
                    
                    })
                },
                generateMACDGraph: function(){

                    document.getElementById("description").innerText = ""
                    document.getElementById("sharpeRatio").innerText = ""

                    get_macd(URL).then(result =>{
                        const data = result;

                    var macd_graph = document.getElementById("macdGraph").getContext("2d");
                    if(window.bar != undefined){
                        window.bar.destroy(); 
                    } 

                    window.bar = new Chart("macdGraph", {
                        data: data,
                        options: {
                            scales: {
                                yAxes: [{
                                    // scaleLabel: {
                                    //     display: true,
                                    //     labelString: 'Close Price'
                                    // }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Date'
                                    }
                                }]
                            }
                        }
                        });

                        document.getElementById("description").innerText = "When the MACD crosses above the MACD signal line, it is a buy signal. When the MACD crosses below the MACD signal line, it is a sell signal."
                    })
                    
                },
            generateBollingerGraph(){

                document.getElementById("description").innerText = ""
                document.getElementById("sharpeRatio").innerText = ""

                get_bollinger(URL).then(result =>{
                    const data = result;

                var macd_graph = document.getElementById("bollingerGraph").getContext("2d");
                if(window.bar != undefined){
                    window.bar.destroy(); 
                }
                window.bar = new Chart("bollingerGraph", {
                    type: "line",
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Close Price'
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }]
                        }
                    }
                    });
                
                    document.getElementById("description").innerText = "When the close price touches the lower band, it indicates a buy signal (oversold scenario). When it touches the upper band, it indicates a sell signal (overbought scenario)"
                })
            },

            generateSharpe(){
                
                // document.getElementById("description").innerText = ""
                get_sharpe(URL).then(result =>{
                    document.getElementById("sharpeRatio").innerText = `The Sharpe ratio is ` + result.sharpe;
                })

            },

            setTickersDataPO: function(generateBool, updateBool){
                document.getElementById("descriptionPO").innerHTML = ""
                const data = {
                    "data": this.stockSelected, 
                    "time_period": Number(this.timeRange),
                    "risk": this.risk
                };

                set_ticker_data_po(URL_po, data).then(result =>{
                    get_po(URL_po).then(result =>{
                    const data = result;
                    console.log(data)
                    var funds = data.ticker;
                    var allocation = data.allocation;
                    var close_price = data.close_price;
                    var combi = data.combi;
                    var rar = data.rar;
                    var dates = data.dates;
                    var ef_list = data.ef_list;
                    var best_ef_list = data.best_ef_list;
                    var rar_evaluation = data.rar_evaluation
                    var risk_level_point = data.risk_level_point;
                    var return_series = data.return_series;
                    var volatility = data.volatility;
                    var returns = data.returns;

                    // description
                    this.volatility = volatility;
                    this.returns = returns;                    
                    
                    //pie chart
                    this.funds = funds;
                    this.combi = combi;

                    //scatter chart

                    this.ef_list = ef_list;
                    this.best_ef_list = best_ef_list;
                    this.risk_level_point = risk_level_point;
                    this.rar = Number(rar).toFixed(3);
                    this.rar_evaluation = rar_evaluation;
                    
                    // correlation chart;
                    this.return_series = return_series;
                    this.dates = dates;

                    if (generateBool){
                        this.displayChart();
                        this.displayChart2();
                        this.displayChart3();
                        document.getElementById("descriptionPO").innerHTML = "Based on your risk level selection, the pie chart below shows the optimised combination for the funds you selected. <br> The RAR of this combination is: " + this.rar + " and is in a " + this.rar_evaluation + " range. <br> The returns of this combination is: " + this.returns + "<br> The volatility of this combination is: " + this.volatility
                    } else if (updateBool) {
                        // console.log("yes");
                        this.updateChart();
                        this.updateChart2();
                        this.updateChart3();
                        document.getElementById("descriptionPO").innerHTML = "Based on your risk level selection, the pie chart below shows the optimised combination for the funds you selected. <br> The RAR of this combination is: " + this.rar + " and is in a " + this.rar_evaluation + " range. <br> The returns of this combination is: " + this.returns + "<br> The volatility of this combination is: " + this.volatility
                    }

                    this.alert = false;
                    this.alertMsg = ""

                })
                    
                })

            },

            generateCharts(){
                const generate = true;
                const update = false;

                this.alert = true;
                this.alertMsg = "Conducting simulation..."

                setTimeout(() => {
                    this.alertMsg = "Generating Charts..."
                }, 3000)

                this.setTickersDataPO(generate, update);

            },

            updateCharts() {
                const generate = false;
                const update = true;

                this.alert = true;
                this.alertMsg = "Conducting simulation..."

                setTimeout(() => {
                    this.alertMsg = "Updating Charts..."
                }, 750)

                this.setTickersDataPO(generate, update);

            },


            portfolioOptimisation: function(generateBool=false, updateBool=false){
                get_po(URL_po).then(result =>{
                    const data = result;
                    console.log(data)
                    var funds = data.ticker;
                    var allocation = data.allocation;
                    var close_price = data.close_price;
                    var combi = data.combi;
                    var rar = data.rar;
                    var dates = data.dates;
                    var ef_list = data.ef_list;
                    var best_ef_list = data.best_ef_list;
                    var rar_evaluation = data.rar_evaluation
                    var risk_level_point = data.risk_level_point;
                    var return_series = data.return_series;
                    var volatility = data.volatility;
                    var returns = data.returns;

                    // description
                    this.volatility = volatility;
                    this.returns = returns;                    
                    
                    //pie chart
                    this.funds = funds;
                    this.combi = combi;

                    //scatter chart

                    this.ef_list = ef_list;
                    this.best_ef_list = best_ef_list;
                    this.risk_level_point = risk_level_point;
                    this.rar = rar;
                    this.rar_evaluation = rar_evaluation;
                    
                    // correlation chart;
                    this.return_series = return_series;
                    this.dates = dates;

                    if (generateBool){
                        document.getElementById("descriptionPO").innerHTML = "Based on your risk level selection, the pie chart below shows the optimised combination for the funds you selected. <br> The RAR of this combination is: " + this.rar + "and is in a " + this.rar_evaluation + " range. <br> The returns of this combination is: " + this.returns + "<br> The volatility of this combination is: " + this.volatility
                        this.displayChart();
                        this.displayChart2();
                        this.displayChart3();
                    } else if (updateBool) {
                        // console.log("yes");
                        document.getElementById("descriptionPO").innerHTML = "Based on your risk level selection, the pie chart below shows the optimised combination for the funds you selected. <br> The RAR of this combination is: " + this.rar + " and is in a " + this.rar_evaluation + " range. <br> The returns of this combination is: " + this.returns + "<br> The volatility of this combination is: " + this.volatility
                        this.updateChart();
                        this.updateChart2();
                        this.updateChart3();
                    }

                    this.alert = false;
                    this.alertMsg = ""

                })
                
            },

            displayChart: function(){
                    const data = {
                        labels: this.funds,
                        datasets: [
                            {
                                label: "Funds Composition",
                                data: this.combi,
                                backgroundColor: [
                                    'rgb(255,26,104)',
                                    'rgb(54,162,235)',
                                    'rgb(255,206,86)',
                                    'rgb(75,192,192)'
                                ]
                                
                            }
                        ],
                        pointRadius:100
                    }

                    const ctx = document.getElementById('myChart');
                    this.pieChart = new Chart(ctx, {
                        
                        type: "pie",
                        data: data,
                        options: {
                            title: {
                                display: true,
                                text: "Portfolio Composition"
                            },
                            plugins:{
                                colorschemes:{
                                    scheme:  'brewer.YlGnBu'
                                }   
                            }
                        }
                    });
                },

            updateChart() {
                const data = {
                        labels: this.funds,
                        datasets: [
                            {
                                label: "Funds Composition",
                                data: this.combi,
                                backgroundColor: [
                                    'rgb(255,26,104)',
                                    'rgb(54,162,235)',
                                    'rgb(255,206,86)',
                                    'rgb(75,192,192)'
                                ]
                                
                            }
                        ],
                        pointRadius:100
                    }
                this.pieChart.data = data;
                this.pieChart.update();

            },

            updateChart2(){
                const data = {
                    datasets: [
                            {
                                label: "Selected Risk",
                                data: this.risk_level_point,
                                pointBackgroundColor: 'rgb(255,0,0)',
                                pointStyle: 'rectRot',
                                pointRadius: 7
                            },

                            {
                                label: "Efficient Frontier",
                                data: this.best_ef_list,
                                pointBackgroundColor: 'rgb(255,0,255)'

                            },                        
                        {
                            label: "Simulated portfolios",
                            data: this.ef_list,
                            pointBackgroundColor: 'YlGnBu',
                            
                        },

                    ],

                }
                this.scatterChart.data = data;
                this.scatterChart.update();

            },

            displayChart2: function(){
                const data = {
                    datasets: [
                            {
                                label: "Selected Risk",
                                data: this.risk_level_point,
                                pointBackgroundColor: 'rgb(255,0,0)',
                                pointStyle: 'rectRot',
                                pointRadius: 7
                            },

                            {
                                label: "Efficient Frontier",
                                data: this.best_ef_list,
                                pointBackgroundColor: 'rgb(255,0,255)'

                            },
                        {
                            label: "Simulated portfolios",
                            data: this.ef_list,
                            pointBackgroundColor: 'YlGnBu',
                            
                        },
                        
                    ],

                }

                const ctx = document.getElementById('myChart1');
                this.scatterChart = new Chart(ctx, {
                    
                    type: "scatter",
                    data: data,
                    options: {
                        title: {
                                display: true,
                                text: "Efficient Frontier"
                            },
                        scales:{
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "Return"
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: "Volatility"
                                }
                            }]
                        }   
                    
                    },
            
                })
                    
            },      
            
            displayChart3: function(){
                const data = {
                    labels: this.dates,
                    datasets: [{
                                label: this.funds[0],
                                data: this.return_series[0],
                                borderColor: 'rgb(255,0,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    },
                    {
                                label: this.funds[1],
                                data: this.return_series[1],
                                borderColor: 'rgb(0,255,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    },
                    {            
                                label: this.funds[2],
                                data: this.return_series[2],
                                borderColor: 'rgb(0,0,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    }
                ]
                }

                const ctx = document.getElementById('correlation');
                    this.corrChart = new Chart(ctx, {
                        
                        type: "line",
                        data: data,
                        options: {
                            title: {
                                display: true,
                                text: "Returns Series"
                            },
                            scales:{
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Returns'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display:true,
                                        labelString: 'Date'
                                    }
                                }]
                            }
                        }
                    });


            },

            updateChart3() {
                const data = {
                    labels: this.dates,
                    datasets: [{
                                label: this.funds[0],
                                data: this.return_series[0],
                                borderColor: 'rgb(255,0,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    },
                    {
                                label: this.funds[1],
                                data: this.return_series[1],
                                borderColor: 'rgb(0,255,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    },
                    {            
                                label: this.funds[2],
                                data: this.return_series[2],
                                borderColor: 'rgb(0,0,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                    }
                ]
                    }

                

                    
                this.corrChart.data = data;
                this.corrChart.update();

            },

            // setTickersDataPred(){
            //     console.log("")
            // },

            get_sentiment_wordcloud(){
                this.alert = true;
                this.alertMsg = "Getting Sentiment and Word Cloud..."

                setTimeout(() => {
                    this.alertMsg = " Generating Charts..."
                }, 2500)


                this.socket.emit('sentiment-wordcloud', {"stocks": this.stockSelected, "combi": this.combi}, (data) => {
                    this.polarity_dates = data.dates;
                    this.polarity = data.polarity;
                    this.word_cloud_data = data.word_cloud_data;

                    if (this.polarity_dates.length > 0) {
                        this.alert = false;
                        this.alertMsg = "";
                    }

                    // this.pretty_container_bool = true;
                    this.displaySentimentChart();
                    this.displayWordCloud();
                });
            },

            get_prediction() {
                this.socket.emit('get-prediction', {"stocks": this.stockSelected, "combi": this.combi}, (data) => {
                    console.log(data);
                    this.prediction_result = data['data'];
                    console.log(typeof this.prediction_result.train.dates)
                    console.log(typeof this.prediction_result.train.data_points)
                    // this.polarity_dates = data.dates;
                    // this.polarity = data.polarity;
                    // this.word_cloud_data = data.word_cloud_data;

                    // if (this.polarity_dates.length > 0) {
                    //     this.alert = false;
                    //     this.alertMsg = "";
                    // }

                    // // this.pretty_container_bool = true;
                    // this.displaySentimentChart();
                    // this.displayWordCloud();
                });
            },

            displayPredictionChart: function(){
                // this.get_prediction();
                var train_dates = this.prediction_result.train.dates
                var train_data = this.prediction_result.train.data_points
                var padding = new Array(train_data.length - 1).fill(null);
                padding.push(train_data[train_data.length -1])

                var test_dates = this.prediction_result.test.dates
                var test_data = padding.concat(this.prediction_result.test.data_points)

                var predicted_dates = this.prediction_result.predicted.dates
                var predicted_data = padding.concat(this.prediction_result.predicted.data_points)

                var total_dates = train_dates.concat(test_dates);

                const data = {
                    labels: total_dates,
                    datasets: [{
                                label: "Train Returns",
                                data: train_data,
                                borderColor: 'rgb(255,0,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                            },
                            {
                                label: 'Predicted Returns',
                                data: predicted_data,
                                borderColor: 'rgb(0,0,255)',
                                borderWidth: 1.0,
                                pointRadius: 0.5,
                                fill: false
                            },
                            {
                                label: 'Test Returns',
                                data: test_data,
                                borderColor: 'rgb(0,255,0)',
                                borderWidth: 1.5,
                                pointRadius: 0.5,
                                fill: false
                            },

                    ]
                }

                const ctx = document.getElementById('predictionChartBackTest');
                this.prediction_chart = new Chart(ctx, {
                    type: "line",
                    data: data,
                    options: {
                        title: {
                            display: true,
                            text: 'Returns Prediction Chart'
                        },
                        scales:{
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Returns'
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display:true,
                                    labelString: 'Date'
                                }
                            }]
                        }
                    }
                });


            },

            displaySentimentChart(){
                const data = {
                    labels: this.polarity_dates,
                    datasets: [
                        {
                            label: "Portfolio Sentiment Polarity",
                            data: this.polarity,
                            borderColor: "rgb(255, 99, 132)",
                            backgroundColor: "rgb(255, 99, 132, -1)"
                        }
                    ]
                }
                var chartId = document.getElementById('sentimentChart').getContext("2d");
                this.sentiment_chart = new Chart(chartId, {
                    type: "line",
                    // labels: dates,
                    data: data,
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    options: {
                        title: {
                            display: true,
                            text: 'Sentiment Polarity Chart'
                        },
                        elements: {
                            line: {
                                // tension: 0,
                                borderWidth: 1.5,
                            }
                        },
                        // responsive: true,
                        scales: {
                            x: {
                                type: 'timeseries',
                            }
                        }
                    }
                });

            },

            displayWordCloud(){
                // create a chart and set the data
                var colors = anychart.scales
                    .ordinalColor()
                    .colors(['#26959f', '#f18126', '#3b8ad8', '#60727b', '#e24b26']);
                const chart = anychart.tagCloud(this.word_cloud_data).title("Word Cloud of Portfolio's Tweets").colorScale(colors).angles([-90, 0, 90]);
                chart.colorRange().enabled(true);
                var state = chart.normal();
                chart.container("wordCloudChart");
                chart.draw();
            },
            
            // for switching of tabs

            ta: function (feature,evt) {

                this.taTab = true;
                this.poTab = false;
                this.predictionTab = false;

                let taTab = document.getElementById("ta-tab");
                taTab.className = "nav-link active";

                let poTab = document.getElementById("po-tab");
                poTab.className = "nav-link";

                let predictionTab = document.getElementById("prediction-tab");
                predictionTab.className = "nav-link";

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(feature).style.display = "block";
                evt.currentTarget.className += " active";
                
                // for chart generation
            },

            po: function(feature,evt){

                this.taTab = false;
                this.poTab = true;
                this.predictionTab = false;

                let taTab = document.getElementById("ta-tab");
                taTab.className = "nav-link";

                let poTab = document.getElementById("po-tab");
                poTab.className = "nav-link active";

                let predictionTab = document.getElementById("prediction-tab");
                predictionTab.className = "nav-link";

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(feature).style.display = "block";
                evt.currentTarget.className += " active";
            },

            prediction: function(feature,evt){

                console.log("activate")

                this.taTab = false;
                this.poTab = false;
                this.predictionTab = true;

                let taTab = document.getElementById("ta-tab");
                taTab.className = "nav-link";

                let poTab = document.getElementById("po-tab");
                poTab.className = "nav-link";

                let predictionTab = document.getElementById("prediction-tab");
                predictionTab.className = "nav-link active";

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(feature).style.display = "block";
                evt.currentTarget.className += " active";
            },

        },
        mounted() {
            this.socket = io.connect('http://127.0.0.1:5300');
            this.get_prediction();
        }
    })

</script>




