
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- Vue link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- SockietIO -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

</head>
<body v-on:load="ta(event, 'ta')">

    <div id="app" v-cloak>
        <div class = "container">
            <div class = "row py-4">
                <div class = "col-2">
                    <img height= "60px" width= "auto" src = "./assets/assure_logo.jpg">
                </div>
                <div class = "col-10">
                    <span v-if="taTab">Search for a fund (select only 1 fund): </span> 
                    <span v-if="poTab">Search for a fund (select between 2 to 4 funds): </span> 
                    <span v-if="predictionTab">Search for a fund (select only one fund): </span> 
                    <select v-model="stockSelected" data-width="90%" id="stock-selection" class="selectpicker mt-1 stockSearch" data-live-search="true" data-max-options="4" multiple></select>
                </div>
                <!-- <div v-if="poTabSelected" class = "col-10">
                    Search for a fund: <select v-model="stockSelectedPO" data-width="90%" id="stock-selectionpo" class="selectpicker mt-1" data-live-search="true"data-max-options="3" multiple></select>
                </div> -->
            </div>
            <div id="tabs-btn" class = "row">
                <div class = "col-2 border-right">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a id="ta-tab" class="nav-link active tablinks" aria-current="page" v-on:click = "ta('ta', $event)">Technical Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a id="po-tab" class="nav-link tablinks" v-on:click = "po('po', $event)">Portfolio Optimization</a>
                        </li>
                        <li class="nav-item">
                            <a id="prediction-tab" class="nav-link tablinks" v-on:click = "prediction('prediction', $event)">Prediction</a>
                        </li>
                    </ul>
                </div>
                <div class = "col-9">
                    <div>  
                        <b>Selected fund: <span id="selected-stocks">{{stockList}}</span></b>
                    </div>

                    <!-- div for TA -->
                    <div id="ta" class="tabcontent my-3 align-items-center">
                        <div id="graphs">
                                <div class="dropdown my-2">
                                    <span class="pr-3">Select a Technical Analysis Tool: </span>
                                    <select v-model="selectedTA" class="selectpicker" data-width="fit">
                                        <option value="price">Close Price</option>
                                        <option value="returns">Return Series</option>
                                        <option value="ema">Exponential Moving Averages</option>
                                        <option value="volatility">Volatility</option>
                                        <option value="macd">Moving Average Convergence Divergence (MACD)</option>
                                        <option value="bollinger">Bollinger Bands</option>
                                    </select>
                                    
                                </div>
                                <div>
                                    <span class="pr-3">Time Range: </span>
                                    <select v-model="timeRange" class="selectpicker" data-width="fit">
                                        <option value=12>1Y</option>
                                        <option value=24>2Y</option>
                                        <option value=60>5Y</option>
                                    </select>
                                    
                                </div>
                            <div class="d-flex justify-content-between"> 
                                <span class="pt-2">
                                    <span class="pr-3">Cick to Generate Charts: </span>
                                    <button id="generate" v-on:click="setTickersDataTA()" class="btn generate-btn">Generate Charts</button>
                                </span>
                                <span class="text-justify" style="width: 400px; display: inline-block" id ="description"></span>
                            </div>
                        </div>

                        <div width="200px" class="mt-3">
                            <canvas v-if="selectedTA == 'returns'" id="returnsGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'price'" id="priceGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'ema'"id="emaGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'volatility'"id="volatilityGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'macd'"id="macdGraph" style="width: 300px"></canvas>
                            <canvas v-if="selectedTA == 'bollinger'"id="bollingerGraph" style="width: 300px"></canvas>
                        </div>
                    </div> 

                    <!-- div for PO -->
                    <div id="po" class="tabcontent my-3" style="display: none">
                        <div id="graphs">
                            <div class="my-2">
                                <span class="pr-3">Time Range: 2 Years </span>
                                <!-- <select v-model="timeRange" class="selectpicker" data-width="fit"> -->
                                    <!-- <option value=1>1M</option>
                                    <option value=3>3M</option>
                                    <option value=6>6M</option> -->
                                    <!-- <option value=12>1Y</option> -->
                                    <!-- <option value=60>5Y</option> -->
                                <!-- </select> -->
                                
                            </div>
                            <div class="my-2">
                                <span class="pr-2">Select your preferred risk level: </span>
                                <select v-model="risk" class="selectpicker" data-width="fit">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                                
                                <!-- <div class="form-check form-check-inline">
                                    <input type="radio" id="low" v-model="risk" value="Low" >
                                    <label for="low">Low</label><br>    
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="med" v-model="risk" value="Medium" >
                                    <label for="med">Medium</label><br>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="high" v-model="risk" value="High" >
                                    <label for="high">High</label><br>
                                </div> -->
                            </div> 
                            <div class="d-flex justify-content-between"> 
                                <span class="pt-2">
                                    <span class="pr-3">Cick to Generate Charts: </span>
                                    <button id="generate" v-on:click="setTickersDataPO()" class="btn generate-btn">Generate Charts</button>
                                    <button id="generate" v-on:click="updateChart()" class="btn btn-warning">Update Charts</button>
                                </span>
                            </div>
                        </div>
                        <div id="descriptionPO" style = "margin-top: 50px;">
                            
                        </div>
                        <div width="200px" >
                            <canvas id="myChart" class="p-3" ></canvas>
                            <canvas id="myChart1" class="p-3" ></canvas>
                        </div>
                    </div>

                    <!-- div for prediction -->
                    <div id="prediction" class="tabcontent" style="display: none">

                    </div>
                </div>  
            </div>
            <div class = "row">
                <div class = "col-2"></div>
                <div class = "col-9"></div>
            </div>
        </div>
        

    </div>

</body>
</html>

<script type="module">
    import { URL, set_ticker_data, get_return_series, get_price, get_ema, get_volatility, get_macd, get_bollinger, URL_po, get_po, set_ticker_data_po} from "./callAPI/endpoint.js";
    
    // for loading of stocks for dropdown

    d3.csv('./assets/nasdaq_etfs.csv')
    .then(addStock);

    function addStock(funds){
        for (let i = 0; i < funds.length; i++) {
            if(i == 0){ 
                let select = document.getElementById('stock-selection');
                let option = document.createElement('option');
                option.setAttribute('value', funds[i]['Name & Symbol']);
                option.setAttribute('selected', funds[i]['Name & Symbol']);
                option.appendChild(document.createTextNode(funds[i]['Name & Symbol']));
                select.appendChild(option);
            } else{
                let select = document.getElementById('stock-selection');
                let option = document.createElement('option');
                option.setAttribute('value', funds[i]['Name & Symbol']);
                option.appendChild(document.createTextNode(funds[i]['Name & Symbol']));
                select.appendChild(option);
            }
        }
    }

    // const socket = io.connect('http://127.0.0.1:5100');
    // for updating selected stocks 

    var app = new Vue({
            el: '#app',
            data: {
                stockSelected: ["PSL - Invesco DWA Consumer Staples Momentum ETF"],
                // stockSelectedPO: ["PSL - Invesco DWA Consumer Staples Momentum ETF"],
                selectedTA: "price",
                timeRange: 12,
                risk: "Low",
                pieChart: {},
                efChart: {},
                corrChart: {},
                generated: false,
                taTab: true,
                poTab: false,
                predictionTab: false,
                combi: undefined
            },
            computed: {
                stockList: function(){
                    return this.stockSelected.join(", ")
                }
            },
            methods:{
            
                getTime: function(e){
                    let buttonValue = e.target.value;
                    this.timeRange = buttonValue;
                },

                setTickersDataTA: function(){

                    document.getElementById("description").innerText = ""

                    const data = {
                        "data": this.stockSelected, 
                        "time_period": Number(this.timeRange)
                    };

                    set_ticker_data(URL, data).then(result =>{
                        if(this.selectedTA == "returns"){
                            this.generateReturnsGraph();
                        } else if(this.selectedTA == 'price'){
                            this.generatePriceGraph();
                        } 
                        else if(this.selectedTA == "ema"){
                            this.generateEMAGraph();
                        } else if(this.selectedTA == "volatility"){
                            this.generateVolatilityGraph();
                        } else if(this.selectedTA == "macd"){
                            this.generateMACDGraph();
                        } else if(this.selectedTA == "bollinger"){
                            this.generateBollingerGraph();
                        }
                    })

                },

                generateReturnsGraph: function(){

                    document.getElementById("description").innerText = ""

                    get_return_series(URL).then(result =>{
                        const data = result;

                        console.log(data)

                        var returns_graph = document.getElementById("returnsGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 

                        window.bar = new Chart("returnsGraph", {
                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Returns'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    })                  
                },

                generatePriceGraph: function(){

                    document.getElementById("description").innerText = ""

                    get_price(URL).then(result =>{
                        const data = result;

                        console.log(data)

                        var returns_graph = document.getElementById("priceGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 

                        window.bar = new Chart("priceGraph", {
                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Close Price'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    })                  
                },
                generateEMAGraph: function(){

                    document.getElementById("description").innerText = ""

                    get_ema(URL).then(result =>{
                        const data = result;

                    var ema_graph = document.getElementById("emaGraph").getContext("2d");
                    if(window.bar != undefined){
                        window.bar.destroy(); 
                    } 

                        window.bar = new Chart("emaGraph", {

                            type: "line",
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Close Price'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });

                        document.getElementById("description").innerText = "When the shorter term EMA crosses above the longer term EMA, it is a buy signal. When the shorter term EMA crosses below the longer term EMA, it is a sell signal"
                    });

                    
                },
                generateVolatilityGraph: function(){
                    document.getElementById("description").innerText = ""

                    get_volatility(URL).then(result =>{
                        const data = result;

                    var volatility_graph = document.getElementById("volatilityGraph").getContext("2d");
                        if(window.bar != undefined){
                            window.bar.destroy(); 
                        } 
                    
                        window.bar = new Chart("volatilityGraph", {
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Volatility'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date'
                                        }
                                    }]
                                }
                            }
                        });
                    
                    
                    })
                },
                generateMACDGraph: function(){


                    get_macd(URL).then(result =>{
                        const data = result;

                    var macd_graph = document.getElementById("macdGraph").getContext("2d");
                    if(window.bar != undefined){
                        window.bar.destroy(); 
                    } 

                    window.bar = new Chart("macdGraph", {
                        data: data,
                        options: {
                            scales: {
                                yAxes: [{
                                    // scaleLabel: {
                                    //     display: true,
                                    //     labelString: 'Close Price'
                                    // }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Date'
                                    }
                                }]
                            }
                        }
                        });

                        document.getElementById("description").innerText = "When the MACD crosses above the MACD signal line, it is a buy signal. When the MACD crosses below the MACD signal line, it is a sell signal."
                    })
                    
                },
            generateBollingerGraph(){

                document.getElementById("description").innerText = ""

                get_bollinger(URL).then(result =>{
                    const data = result;

                var macd_graph = document.getElementById("bollingerGraph").getContext("2d");
                if(window.bar != undefined){
                    window.bar.destroy(); 
                }
                window.bar = new Chart("bollingerGraph", {
                    type: "line",
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Close Price'
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }]
                        }
                    }
                    });
                
                    document.getElementById("description").innerText = "When the close price touches the lower band, it indicates a buy signal (oversold scenario). When it touches the upper band, it indicates a sell signal (overbought scenario)"
                })
            },

            setTickersDataPO: function(){

                const data = {
                    "data": this.stockSelected, 
                    "time_period": Number(this.timeRange),
                    "risk": this.risk
                };

                set_ticker_data_po(URL_po, data).then(result =>{
                        this.portfolioOptimisation();
                    
                })

            },

            portfolioOptimisation: function(){
                get_po(URL_po).then(result =>{
                    const data = result;
                    console.log(data)
                    var funds = data.ticker;
                    var allocation = data.allocation;
                    var close_price = data.close_price;
                    var max_sharpe_ratio = data.max_sharpe_ratio;
                    var min_vol_ratio = data.min_vol_ratio;
                    var combi = data.combi;
                    var rar = data.rar;
                    var dates = data.dates;
                    var list_rt_vol = data.list_rt_vol;
                    var ef_list = data.ef_list;
                    var rar_evaluation = data.rar_evaluation
                    var funds_dict = []
                    for (let i = 0; i < funds.length; i++) {
                        funds_dict.push({"fund" : funds[i], "x": list_rt_vol[i]['x'], "y": list_rt_vol[i]['y']})
                        //funds_dict[funds[i]] = [list_rt_vol[i]['x'], list_rt_vol[i]['y']]
                    }

                    this.combi = combi;
                    //console.log(funds)
                    //console.log(allocation)
                    document.getElementById("descriptionPO").innerText = "Based on your risk level selection, please refer to the chart generated below for the optimised weightage for the funds you selected. The RAR of this combination is at " + rar + " and is in a " + rar_evaluation + " range."

                    this.displayChart(funds, combi);            
                    this.displayChart2(list_rt_vol,ef_list,funds_dict, funds, max_sharpe_ratio, min_vol_ratio);          
    
                })
                
            },

            displayChart: function(funds,combi){
                    const data = {
                        labels:funds,
                        datasets: [
                            {
                                label: "Funds Composition",
                                data: combi,
                                backgroundColor: [
                                    'rgb(255,26,104)',
                                    'rgb(54,162,235)',
                                    'rgb(255,206,86)',
                                    'rgb(75,192,192)'
                                ]
                                
                            }
                        ],
                        pointRadius:100
                    }

                    this.pieChart = new Chart("myChart", {
                        
                        type: "pie",
                        data: data,
                        options: {
                            plugins:{
                                colorschemes:{
                                    scheme:  'brewer.YlGnBu'
                                }   
                            }
                        }
                    });
                },

            updateChart() {
                this.setTickersDataPO();
                // console.log(this.pieChart);
                this.pieChart.data.datasets[0].data = this.combi;
                // this.chart.labels = this.dates;
                this.pieChart.update();
            },
                
            displayChart2: function(list_rt_vol,ef_list,funds_dict, funds, max_sharpe_ratio, min_vol_ratio){
                const data = {
                    datasets: [
                        {
                            label: "Efficient Frontier",
                            data: ef_list,
                            pointBackgroundColor: 'YlGnBu',
                            
                        },
                        {
                            label: "FUNDS",
                            data:funds_dict,
                            backgroundColor: [
                                'rgba(255,26,104,1)',
                                'rgba(54,162,235,1)',
                                'rgba(255,206,86,1)',
                                'rgba(75,192,192,1)'
                            ],


                        },
                        {
                            label: "MAXSHARPE",
                            data: max_sharpe_ratio,
                            pointBackgroundColor: 'rgb(255,0,0)',
                            pointStyle: 'rect',
                            pointRadius: 25
                        },
                        {
                            label: "MINVOL",
                            data: min_vol_ratio,
                            pointBackgroundColor: 'rgb(255,0,255)',
                            pointStyle: 'triangle',
                            pointRadius: 25
                        },
                    ],

                }

                const scatterDataLabels = {
                    id: 'scatterDataLabels',
                    afterDatasetUpdate(chart,args,options){
                        const { ctx } = chart;
                        
                        ctx.save();
                        ctx.font = '12px sans-serif';
                        
                        ctx.fillText(chart.config.data.datasets[1].data[0].fund,100,100);
                        console.log(chart.getDatasetMeta(0).data[0].x);
                        
                        //console.log(chart.config.data)
                        //console.log(chart.config.data.datasets[1].data[0])

                    }
                }
                
                var myChart = new Chart("myChart1", {
                    
                    type: "scatter",
                    data: data,
                    options: {
                            //colorschemes:{
                                //   scheme:  'brewer.YlGnBu'
                            //}   
                        
                    },
                    plugins: [scatterDataLabels]
                })
                    
            },    
            
            displayChart3: function(list_rt_vol,ef_list,funds_dict, funds){
                    const data = {
                        datasets: [
                            {
                                label: "Efficient Frontier",
                                data: ef_list,
                                backgroundColor: 'YlGnBu',
                                
                            },
                            {
                                label: funds,
                                data:list_rt_vol,
                                backgroundColor: [
                                    'rgba(255,26,104,1)',
                                    'rgba(54,162,235,1)',
                                    'rgba(255,206,86,1)',
                                    'rgba(75,192,192,1)'
                                ]

                            }
                        ],
                        pointRadius:10000
                    }

                    var myChart = new Chart("myChart1", {
                        
                        type: "scatter",
                        data: data,
                        options: {
                            plugins: {
                                autocolors: false,
                                annotation: {
                                annotations: {
                                    label1: {
                                    type: 'label',
                                    xValue: 2.5,
                                    yValue: 60,
                                    backgroundColor: 'rgba(245,245,245)',
                                    content: ['This is my text', 'This is my text, second line'],
                                    font: {
                                        size: 18
                                    }
                                    }
                                }
                                }
                            }
                                //colorschemes:{
                                 //   scheme:  'brewer.YlGnBu'
                                //}   
                            
                        },
                        plugins: ['chartjs-plugin-annotation']
                    })
            },    
            // for switching of tabs

            ta: function (feature,evt) {

                this.taTab = true;
                this.poTab = false;
                this.predictionTab = false;

                let taTab = document.getElementById("ta-tab");
                taTab.className = "nav-link active";

                let poTab = document.getElementById("po-tab");
                poTab.className = "nav-link";

                let predictionTab = document.getElementById("prediction-tab");
                predictionTab.className = "nav-link";

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(feature).style.display = "block";
                evt.currentTarget.className += " active";
                
                // for chart generation
            },

            po: function(feature,evt){

                this.taTab = false;
                this.poTab = true;
                this.predictionTab = false;

                let taTab = document.getElementById("ta-tab");
                taTab.className = "nav-link";

                let poTab = document.getElementById("po-tab");
                poTab.className = "nav-link active";

                let predictionTab = document.getElementById("prediction-tab");
                predictionTab.className = "nav-link";

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(feature).style.display = "block";
                evt.currentTarget.className += " active";
            },

            // prediction: function(feature,evt){
            //     let taTab = document.getElementById("ta-tab");
            //     taTab.className = "nav-link";

            //     let poTab = document.getElementById("po-tab");
            //     poTab.className = "nav-link";

            //     let predictionTab = document.getElementById("prediction-tab");
            //     predictionTab.className = "nav-link active";

            //     var i, tabcontent, tablinks;
            //     tabcontent = document.getElementsByClassName("tabcontent");
            //     for (i = 0; i < tabcontent.length; i++) {
            //         tabcontent[i].style.display = "none";
            //     }
            //     tablinks = document.getElementsByClassName("tablinks");
            //     for (i = 0; i < tablinks.length; i++) {
            //         tablinks[i].className = tablinks[i].className.replace("active", "");
            //     }
            //     document.getElementById(feature).style.display = "block";
            //     evt.currentTarget.className += " active";
            // }
        },
    })

</script>




